@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca0404;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: rgb(241, 234, 241);
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--extra-light);
    z-index: 99;
}

.nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    transition: 0.3s;
}

nav .logo a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

.section {
    background-color: var(--extra-light);
}

.section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.action__btns {
    display: flex;
    gap: 1rem;
}

.action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.action__btns a {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.hire__me {
    background-color: var(--primary-color);
    color: #ffffff;
}

.hire__me:hover {
    background-color: var(--extra-light);
}

.portfolio {
    color: var(--extra-light);
}

.portfolio:hover {
    background-color: var(--primary-color);
    color: #69ff05;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);
    border-radius: 50%;
}

@media (max-width: 750px) {
    nav .checkbox {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: 100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul {
        left: 0;
    }

    ul li a {
        font-size: 1.25rem;
    }

    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
    }

    .action__btns {
        margin: auto;
    }
}


/* Gallery */

.project {
    background-color: rgb(241, 234, 241);
    padding: 4rem 0;
}

.project__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
}

.section__subtitle {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.section__title {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 3rem;
    border: #00000000;
}

.section__subtitle,
.section__title {
    text-align: center;
    padding-top: 40px;
}

.section__title {
    max-width: 80%;
    margin: auto;
}

.section__title span {
    font-weight: 600;
}

.project__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.project__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: #dbf2f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project__card img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.project__card:hover {
    transform: translateY(-5px);
}

.project__description {
    padding: 1.5rem;
}

.project__description p {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .project__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}



/*Contact Us*/

body .sectioon {
    width: 100%;
    background-color: rgb(237, 231, 231);
}

.tittle h1 {
    text-align: center;
    padding-top: 115px;
    font-size: 42px;
}

.tittle h1::after {
    content: "";
    height: 4px;
    width: 200px;
    background-color: #000000;
    display: block;
    margin: auto;
}

.contact-form {
    width: 85%;
    margin: 50px auto;
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: vertical;
}

.buttons {
    font-size: 15px;
    text-decoration: none;
    color: #f10303;
    background-color: #f3ebeb;
    padding: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.buttons:hover {
    background-color: #c94f4f;
    transition: 0.4s ease;
}

@media screen and (max-width: 940px) {
    .contact-form {
        width: 90%;
        padding: 30px;
    }
}


/* Footer */

.footer {
    background-color: var(--extra-light);
    color: #000000;
    padding: 1rem 0;
    text-align: center;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.footer__icons i {
    font-size: 2rem;
    color: #1e4d90;
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer__icons i:hover {
    color: #a855f7;
}

.footer__contact {
    font-size: 1rem;
    color: #000000;
}